.container{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}

.input{
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: 10px solid;
    margin: 10px 0;
}

.inputValid{
    border-color: green;
}

.inputInvalid{
    border-color: red;
}